[Desktop Entry]
Name=Prevue
Comment=Image Previewer
Exec=prevue %f
Icon=prevue
Terminal=false
Type=Application
Categories=Graphics;Viewer;
MimeType=image/jpeg;image/png;image/gif;image/bmp;image/tiff;image/webp;image/svg+xml;
# MimeType=image/jpeg;image/png;image/gif;image/bmp;image/tiff;image/svg+xml;image/webp;image/avif;image/heic;image/heif;
StartupNotify=true
